# Ignore database files
*.duckdb
*.duckdb-wal

# Ignore Python virtual environments
env1.7/
.env

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore macOS system files
.DS_Store

# Ignore logs and temporary files
*.log
*.tmp